/* 
    Created on : 19 sept 2023, 19:26:15
    Author     : antho
*/

/*por id*/
/*#encabezado{ /*ejem 9*//*
    color:blueviolet;
    font-weight: bold; 
}

#TituloPrincipal{
    color: aquamarine;
}

/*por clase*//*
.parrafosCentrados{
    text-align: center;
    font-weight: bold;
    color: #00cccc;
}

.textoVerde{
    color: yellowgreen; 
}

*{ /*selector universal*//*
    color: salmon;
}

p, h2{ /*selector de elemento*//*
    text-height: 15;
}

/*selector descendente*//*
p span { /*todos los span que esten dentro de un parrafo*//*
    color:gray;
}

a:link{
    background-color: green;
    color: white;
}
a:visited{
    background-color: violet;
    color: white;
}

a:hover{
    background-color: darkblue;
    color:white;
}
a:active{
    background-color: red;
    color:white;
}

p:nth-child(odd){ /*pares*//*
    background-color: darksalmon;
    color:black;
}

p:nth-child(even){ /*impares*//*
    background-color: cyan;
    color:black;
}*/

#barralateral{ 
    height: 81%;
    top:12%;
    left:0;
    width: 20%;
    position: absolute;
    background-color: burlywood;
    padding: 10px;
}

.contenido{
    position: absolute;
    height: 81%;
    top:12%;
    left:20%;
    width: 80%;
    background-color: gainsboro;
    padding: 10px;
}

#piepagina{
    position: absolute;
    height: 7%;
    bottom: 0;
    left:0;
    width: 100%;
    background-color: aqua;
    text-align: center;
    padding-top: 25px;
}